@model LoginViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@using (Html.BeginForm("", "", FormMethod.Post, new { }))
{
    <div class="col-lg-6 offset-lg-3">
        <div class="card mt-5">
            <div class="p-3">

                <!--Header-->
                <div class="text-center">
                    <h3><i class="fa fa-lock"></i> Login:</h3>
                    <hr class="mt-2 mb-2">
                </div>

                <!--Body-->
                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control" })
                    @Html.LabelFor(m => m.LoginId)
                </div>

                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                    @Html.LabelFor(m => m.Password)
                </div>

                <div class="text-center">
                    <button class="btn btn-deep-purple" type="submit">Login</button>
                </div>

            </div>

            <!--Footer-->
            <div class="modal-footer">
                <div class="options">
                    <p>Not a member? <a href="#">Sign Up</a></p>
                    <p>Forgot <a href="#">Password?</a></p>
                </div>
            </div>

        </div>
    </div>
}


<!--/Form without header-->