
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<a class="btn btn-success mt-5" style="margin: 10px" asp-controller="Customer" asp-action="AddCustomer">Create new customer</a>
<h2>Their is no customer available</h2>
