<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LibraryManagementSystem</title>

    <environment include="Development">
        <link href="~/MDB Free/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet" />
        <link href="~/MDB Free/css/bootstrap.css" rel="stylesheet" />
        <link href="~/MDB Free/css/mdb.css" rel="stylesheet" />
        <link href="~/MDB Free/css/style.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark deep-purple">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="#"><span class="fa fa-book-open fa-lg"></span>&nbsp; Smart Library System</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <span class="fa fa-home fa-lg"></span>&nbsp;  Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Customer" asp-action="Index"><span class="fa fa-user"></span>&nbsp;Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>

                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>

            </ul>
            <!-- Links -->

            <form class="form-inline">
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </div>
            </form>
        </div>
        <!-- Collapsible content -->

    </nav>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - LibraryManagementSystem</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/MDB Free/js/jquery-3.3.1.min.js"></script>
        <script src="~/MDB Free/js/bootstrap.js"></script>
        <script src="~/MDB Free/js/popper.min.js"></script>
        <script src="~/MDB Free/js/mdb.js"></script>
    </environment>


    @RenderSection("Scripts", required: false)
</body>
</html>
