@model Author
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="row orderForm">

    <form asp-controller="Author" asp-action="UpdateAuthor" method="post" role="form">
        <h3>Edit Author @Model.Name</h3>
        @Html.HiddenFor(m => Model.AuthorId)
        <div class="form-group">
            <label asp-for="Name"></label>
            <div>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div>
                <input class="btn btn-default" type="submit" value="Return" asp-controller="Author" asp-action="Index" />
                &nbsp; <input class="btn btn-success" type="submit" value="Update" />
            </div>
        </div>
    </form>
</div>